NET "iCLK" LOC= M21;
NET "inRST" LOC= AE24;
NET "iPB" LOC= AB24;

NET "iSW(0)" LOC= W19;
NET "iSW(1)" LOC= Y24;
NET "iSW(2)" LOC= K19;
NET "iSW(3)" LOC= V24;
NET "iSW(4)" LOC= U20;
NET "iSW(5)" LOC= U23;
NET "iSW(6)" LOC= U24;
NET "iSW(7)" LOC= U19;

NET "oLCD_D(0)" LOC= W18;
NET "oLCD_D(1)" LOC= V18;
NET "oLCD_D(2)" LOC= D18;
NET "oLCD_D(3)" LOC= T18;
NET "oLCD_EN" LOC= D21;
NET "oLCD_RW" LOC= C21;
NET "oLCD_RS" LOC= F24;
