//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 21 21:26:59 2015
//! **************************************************************************

SCHEMATIC START;
COMP "iPB" LOCATE = SITE "AB24" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "oLCD_EN" LOCATE = SITE "D21" LEVEL 1;
COMP "oLCD_RS" LOCATE = SITE "F24" LEVEL 1;
COMP "oLCD_RW" LOCATE = SITE "C21" LEVEL 1;
COMP "inRST" LOCATE = SITE "AE24" LEVEL 1;
COMP "iSW<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "iSW<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "iSW<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "iSW<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "iSW<4>" LOCATE = SITE "U20" LEVEL 1;
COMP "iSW<5>" LOCATE = SITE "U23" LEVEL 1;
COMP "iSW<6>" LOCATE = SITE "U24" LEVEL 1;
COMP "iSW<7>" LOCATE = SITE "U19" LEVEL 1;
COMP "oLCD_D<0>" LOCATE = SITE "W18" LEVEL 1;
COMP "oLCD_D<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "oLCD_D<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "oLCD_D<3>" LOCATE = SITE "T18" LEVEL 1;
SCHEMATIC END;

